* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px; /* Rezerva pre horné menu */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: #0B1120; /* Hlavná tmavomodrá */
  color: #e2e8f0; /* Svetlosivá/biela pre text */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}